@charset "UTF-8";



body{
    font-family: Georgia, 'Times New Roman', Times, serif;
   color: blue ;
   background-image: url(https://e1.pxfuel.com/desktop-wallpaper/483/922/desktop-wallpaper-jet-ski-water-ski.jpg);
   background-size: cover;
   width: 100vw;
   height: 100vh;
}

h1{
    text-align: center;
    font-size: 38px;
    margin: 15px 20px ;
    padding: 10px ;
    color: black;
}

.imgrepresa{
    
    padding: 10px;
    text-align: center ; 
    border: 1px solid blue;
}

img {
    height: 250px;
    width: 200px;
    text-align: center ;
}

