@charset "utf-8";
* {
 margin: 0;
 padding: 0;
}
 .body{
    font-family: Arial, Helvetica, sans-serif;
 }

.cabecalho{

    height: 135px;
    width: 100vw;
}

.rodape{
    height: 135px;
    width: 100vw;   
}

.home{
    font-size: 18px;
    text-decoration: none;
    color:cadetblue;
    border: black 1px solid ;
    padding: 1px 2px;
    border-radius: 1px; 
    

}