@charset "utf-8";
* {
 margin: 0;
 padding: 0;
}
 .body{
    font-family: Arial, Helvetica, sans-serif;
    
 }

.cabecalho{

    height: 135px;
    width: 100vw;
}

.rodape{
    height: 135px;
    width: 100vw;   
}

.home{
    float: left;
    font-size: 18px;
    text-decoration: none;
    background-color: #21ED7A ;
    color:Black;
    border: #23BFF7 3px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px ;
    margin-left: 5px ;
    margin-right: 5px;
}

.Cont{
    float: left;
    font-size: 18px;
    text-decoration: none;
    background-color: #21ED7A ;
    color:Black;
    border: #23BFF7 3px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px ;
    margin-left: 5px ;
    margin-right: 5px;
}

.empresa{
    float: left;
    font-size: 18px;
    text-decoration: none;
    background-color: #21ED7A ;
    color:Black;
    border: #23BFF7 3px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px ;
    margin-left: 5px ;
    margin-right: 5px;
}

.imgseg{
    width: 100vw;
}

.fotter{
    text-align: center;
    
}